@import "style.css";

/* Customize stylesheet here */

h1, h2 {
    text-align: center;
}

ul, ol {
    text-align: left;
}

aside p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8125rem;
}

.verses {
    font-style: italic;
    text-align: left;
}

.verses > span {
    display: block;
}

.verses > p {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
}

.p-classic > p {
    margin-bottom: 0;
}

.p-classic > p + p {
    text-indent: 1.25em;
    margin-top: 0;
}

.chapter {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2.75em;
}

.chapter-1-2 {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.chapter-2-2 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2.75em;
}

.p-1-2 p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.p-1-5 p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
