@charset "UTF-8";
@page {
    margin: 5mm 5mm 3mm 5mm;
    padding: 0;
}

article,
aside,
figure,
figcaption,
footer,
header,
main,
nav,
section {
    display: block;
}

/* ------- Sections ------------------------------------------------------------
    <body>, <section>, <nav>, <h1> - <h6> // <article>, <aside>, <header>, <footer>
*/
body {
    font-size: 100%;
    font-weight: normal;
    text-align: justify;
    margin: 0;
    padding: 0;
    -webkit-hyphens: auto;
    hyphens: auto;
    widows: 2;
    orphans: 2;
}

section, nav {
    page-break-before: always;
    page-break-after: always;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-weight: bold;
    margin: 1.375em 0 0.875em;
    -epub-hyphens: none;
    hyphens: none;
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1 {
    font-size: 1.875rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
    margin: 1.25rem 0 1rem;
}

h5 {
    font-size: 1.0625rem;
    margin: 1.25rem 0 1rem;
    font-style: italic;
}

h6 {
    font-size: 1rem;
    margin: 1rem 0;
    font-style: italic;
}

h1.chapter, h2.chapter, h3.chapter {
    text-align: center;
    margin: 4rem 0;
}

aside {
    font-size: 0.8125rem;
    margin: 1rem 0;
}

/* ------- Content grouping ------------------------------------------------- */
p {
    margin: 1rem 0;
    text-indent: 0;
}

p.classic, .classic p {
    margin-bottom: 0;
}

p.classic, .classic p + p {
    margin-top: 0;
    text-indent: 1.25rem;
}

blockquote {
    display: block;
    margin: 1rem 0;
    padding-left: 8pt;
    border: 0 none;
    border-left: 0.1875rem solid currentColor;
}

/* Kindle specific */
@media only amzn-kf8, amzn-mobi {
    blockquote {
        padding-left: 12pt;
    }
}

blockquote.fancy {
    padding-right: 4%;
    padding-left: 1rem;
    border-left: 0.75rem solid #9F9F9F;
}

figure {
    margin: 1rem 0;
    text-align: center;
}

figcaption {
    display: block;
    margin: 0.25rem auto;
    font-size: 0.875rem;
    text-align: center;
}

dl, ol, ul, pre {
    margin: 1rem 0;
}

pre {
    tab-size: 2;
}

ul, ol {
    padding-left: 24pt;
    list-style-position: outside;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}

dd {
    padding: 0;
    margin-left: 24pt;
}

@media only amzn-kf8 {
    ul, ol {
        padding-left: 32pt;
    }

    dd {
        margin-left: 32pt;
    }
}

li > ol, li > ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol.off, ul.off, li.off, ol.p, ul.p {
    list-style-type: none;
}

ol.off, ul.off, ol.p, ul.p {
    padding: 0;
}

ol.p > li, ul.p > li {
    margin: 0.75rem 0;
}

dt {
    font-weight: bold;
}

dt:after {
    content: ": ";
}

dt, pre {
    text-align: left;
}

hr {
    height: 0;
    width: auto;
    padding: 0;
    border: 0 none;
    border-top: 0.125rem solid currentColor;
    margin: 1.5rem auto;
    text-align: center;
    page-break-after: avoid;
}

[hidden] {
    display: none;
}

/* ------- Text (inline) -------------------------------------------------------
    <em>       - stress emphasis
    <strong>   - strong importance, seriousness, or urgency
    <small>    - side comments such as small print
    <s>        - no longer accurate or no longer relevant
    <cite>     - reference to a creative work
    <q>        - quotation from another source (its address may be specified in cite attribute)
    <dfn>      - term being defined
    <abbr>     - abbreviation or acronym (optionally with its expansion in title attribute)
    <code>     - fragment of computer code
    <sub>      - subscript
    <sup>      - superscript
    <i>        - technical terms, foreign language phrases, thoughts etc.
    <b>        - draw attention
    <u>        - non-textual annotation
    <mark>     - highlight for reference purposes
*/

em, cite, q, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

small {
    font-size: 0.875em;
}

sub, sup {
    font-size: 0.675em;
    line-height: 1.2;
}

sub {
    vertical-align: sub;
    vertical-align: -20%;
}

sup {
    vertical-align: super;
    vertical-align: 35%;
}

code {
    white-space: pre;
    font-family: monospace;
}

code.block {
    display: block;
    white-space: pre-wrap;
    font-size: 0.8125em;
    line-height: 1.2;
    margin: 1rem 0;
}

/* ---------- Image (inline) ------------------------------------------------ */
img {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    vertical-align: bottom;
}

/* ---------- Tables -------------------------------------------------------- */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
    padding: 0;
    width: auto;
    max-width: 100%;
    text-align: left;
    margin: 1rem auto;
    page-break-inside: avoid;
    font-feature-settings: "tnum" 1;
    font-variant-numeric: tabular-nums;
}

table.fixed {
    table-layout: fixed;
}

th {
    padding: 0.3125rem 6pt 0.4375rem 0;
    border-bottom: 0.125rem solid currentColor;
}

th.v {
    border-right: 0.125rem solid currentColor;
}

td, th.v {
    padding: 0.25rem 6pt 0.25rem 0;
    border-bottom: 0.0625rem solid currentColor;
}

td, th {
    empty-cells: show;
    vertical-align: baseline;
}

caption {
    font-size: 0.875rem;
    margin: 0.25rem auto;
    text-align: center;
}

/* Table caption position (<caption> must be the first element in <table>)
   Kindle: Setting caption-side breaks "Enhanced Typesetting"! */
caption.top {
    caption-side: top;
}

caption.bottom {
    caption-side: bottom;
}

/* --------- Grid table classes --------------------------------------------- */
table.grid {
    border: 0.125rem solid currentColor;
}

table.grid th {
    padding: 0.4375rem 4pt;
    border: 0.125rem solid currentColor;
}

table.grid td {
    padding: 0.25rem 4pt;
    border: 0.0625rem solid currentColor;
}

/* --------- Asterism classes ----------------------------------------------- */
.asterism,
.asterism-1,
.asterism-3,
.asterism-6 {
    display: block;
    text-align: center !important;
    font-size: 1rem;
    line-height: 1.2;
    margin: 1.5rem auto;
    page-break-after: avoid;
}

.asterism:before, .asterism-1:before {
    font-size: 1.125em;
    content: '\2042'; /* ⁂ (U+2042) */
}

.asterism-3:before {
    content: '\273B\2002\273B\2002\273B'; /* ✻ ✻ ✻ (U+273B) */
}

.asterism-6:before {
    content: '\2015\2015\2002//\2002\2015\2015'; /* ―― // ―― (U+2015) */
}

/* --------- Box classes ---------------------------------------------------- */
.box {
    margin: 1rem auto;
    padding: 0.3125rem 6pt;
    border: 0.125rem solid currentColor;
}

/* --------- Drop cap classes ----------------------------------------------- */
.drop-cap:first-letter {
    float: left;
    font-size: 3.5em;
    font-weight: bold;
    text-indent: 0;
    line-height: 1.2;
    margin-top: -0.1725em;
    margin-bottom: -0.1875em;
    margin-right: 0.1375em;
}

/* --------- Footnotes and endnotes classes --------------------------------- */
.footnotes {
    margin-top: 1rem;
}

.footnotes > aside {
    font-size: 0.8125rem;
    margin: 0;
}

.endnotes > aside {
    font-size: 0.875rem;
    margin: 0.5rem;
}

/* --------- Utility classes ------------------------------------------------ */
.brb {
    page-break-before: always;
}

.no-brb {
    page-break-before: avoid;
}

.bra {
    page-break-after: always;
}

.no-bra {
    page-break-after: avoid;
}

.mt-0, .m-0 {
    margin-top: 0;
}

.mb-0, .m-0 {
    margin-bottom: 0;
}

.mt-1, .mt, .m-1, .m {
    margin-top: 1rem;
}

.mb-1, .mb, .m-1, .m {
    margin-bottom: 1rem;
}

.mt-2, .m-2 {
    margin-top: 2.5rem;
}

.m-2 {
    margin-bottom: 2.5rem;
}

.m-3 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.pt-1, .pt {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2.5rem;
}

.bt {
    border-top: 1rem solid transparent;
}

.i {
    font-style: italic;
}

.b {
    font-weight: bold;
}

.center, .c, .c-c {
    text-align: center;
}

.c-c > * {
    text-align: center;
}

.left, .l {
    text-align: left;
}

.right, .r {
    text-align: right;
}

.justify, .j {
    text-align: justify;
}

.s-8750, .s-1, .small, .s {
    font-size: 0.875em;
}

.s-8125, .s-2 {
    font-size: 0.8125em;
}

.s-7500, .s-3 {
    font-size: 0.75em;
}

.upper, .u {
    text-transform: uppercase;
}

.caps {
    text-transform: capitalize;
}

.small-caps {
    font-variant: small-caps;
}

.w-100 { width: 100%; }
.w-90  { width: 90%;  }
.w-80  { width: 80%;  }
.w-70  { width: 70%;  }
.w-60  { width: 60%;  }
.w-50  { width: 50%;  }
.w-40  { width: 40%;  }
.w-30  { width: 30%;  }
.w-20  { width: 20%;  }

@media only amzn-kf8 {
    .box {
        padding-left: 8pt;
        padding-right: 8pt;
    }
}
