@charset "UTF-8";

@page {
    margin-left: 10pt;
    margin-right: 10pt;
    padding: 0;
}

article,
aside,
blockquote,
figure,
figcaption,
footer,
header,
main,
nav,
section {
    display: block;
}

[hidden] {
    display: none;
}

/* ------------ Sections ---------------------------------------------------- */
body {
    font-size: 100%;
    font-weight: normal;
    text-align: justify;
    line-height: 1.35;
    margin: 0;
    padding: 0;
    -webkit-hyphens: auto;
    hyphens: auto;
    widows: 2;
    orphans: 2;
}

section, nav {
    page-break-before: always;
    page-break-after: always;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    line-height: 1.25;
    font-weight: bold;
    margin: 1.5em 0;
    -epub-hyphens: none;
    hyphens: none;
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.625em;
    margin-top: 2.75em;
}

h3 {
    font-size: 1.375em;
    margin-top: 2em;
    margin-bottom: 1.25em;
}

h4 {
    font-size: 1.125em;
    margin-bottom: 1em;
}

h5, h6 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.75em;
}

h6 {
    font-style: italic;
}

/* ------------ Content grouping -------------------------------------------- */
p, blockquote, figure, ol, ul, dl, pre {
    margin-top: 1em;
    margin-bottom: 1em;
    text-indent: 0;
}

p.classic,
p.book,
p.novel {
    margin-top: 0;
    margin-bottom: 0;
}

p + p.classic,
p + p.book,
p + p.novel {
    text-indent: 1.125em;
}

p.stanza, p.verses, p.verse, p.poetry {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    text-indent: 0;
}

blockquote {
    padding-left: 18pt;
    padding-right: 18pt;
    margin-left: 0;
    margin-right: 0;
}

blockquote.fancy {
    padding-left: 10pt;
    padding-right: 16pt;
    border-left: 0.875rem solid #9F9F9F;
}

dt {
    font-weight: bold;
    text-align: left;
    page-break-after: avoid;
}

dd {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.25em;
    padding-left: 22pt;
    page-break-before: avoid;
}

figure {
    padding: 0;
    text-align: center;
    page-break-inside: avoid;
}

figcaption {
    margin: 0.25em auto;
    line-height: 1.25;
    font-size: 0.875em;
    text-align: center;
}

hr {
    height: 0;
    width: auto;
    padding: 0;
    border: 0 none;
    border-top: 0.125rem solid currentColor;
    margin: 1.5em auto;
    text-align: center;
    page-break-after: avoid;
}

pre {
    tab-size: 2;
    text-align: left;
    display: block;
    white-space: pre-wrap;
    font-size: 0.8125em;
    line-height: 1.25;
}

/* Kindle specific */
@media only amzn-kf8, amzn-mobi {

}

/* ------------ Lists ------------------------------------------------------- */
ul, ol {
    text-align: initial;
    list-style-position: outside;
    margin-left: 0;
}

ol {
    list-style-type: decimal;
    padding-left: 34pt;
}

ol.wide {
    padding-left: 44pt;
}

ul {
    list-style-type: disc;
    padding-left: 24pt;
}

ul ul {
    list-style-type: circle;
}

li ol, li ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 24pt;
}

li ul {
    padding-left: 16pt;
}

ol.roman {
    list-style-type: lower-roman;
}

ol.upper-roman, ol.u-roman {
    list-style-type: upper-roman;
}

ol.latin {
    list-style-type: lower-latin;
}

ol.upper-latin, ol.u-latin {
    list-style-type: upper-latin;
}

ol.loose > li, ul.loose > li, ol.spread > li, ul.spread > li {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

ol.off, ul.off, li.off, ul.dash, ul.pseudo-dash {
    list-style-type: none;
}

ul.dash, ul.pseudo-dash {
    padding-left: 12pt;
}

/* "– " = 0.75em */
ul.dash > li, ul.pseudo-dash > li {
    text-indent: -0.75em;
    padding-left: 0.75em;
}

ul.pseudo-dash > li::before, ul.pseudo-dash > li:before {
    content: "\2013\2005"; /* en space + 1/4 em space = 0.75em; en = 1/2 em */
    font-size: 100%;
    text-indent: 0;
}

/* Kindle specific */
@media only amzn-kf8, amzn-mobi {
    ol {
        padding-left: 36pt;
    }
}

/* ------------ Tables ------------------------------------------------------ */
table {
    border: 0 none currentColor;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    width: auto;
    max-width: 100%;
    text-align: left;
    margin: 1rem auto;
    page-break-inside: avoid;
    font-feature-settings: "tnum" 1;
    font-variant-numeric: tabular-nums;
}

table.fixed {
    table-layout: fixed;
}

td, th {
    padding-left: 0;
    padding-right: 6pt;
    empty-cells: show;
    vertical-align: baseline;
    border: 0 none currentColor;
    border-bottom-style: solid;
}

th {
    padding-top: 3pt;
    padding-bottom: 5pt;
    border-bottom-width: 0.125rem;
}

td, th.v {
    padding-top: 4pt;
    padding-bottom: 4pt;
    border-bottom-width: 0.0625rem;
}

th.v {
    border-right-width: 0.125rem;
    text-align: left;
}

table.grid, table.grid th {
    border-style: solid;
    border-width: 0.125rem;
}

table.grid th {
    padding: 4pt;
}

table.grid td {
    padding: 3pt 4pt;
    border-style: solid;
    border-width: 0.0625rem;
}

/* <caption> must be the first element in <table> */
caption {
    font-size: 0.875rem;
    margin: 0.25rem auto;
    text-align: center;
    line-height: 1.25;
}

/* Kindle: setting caption-side breaks "Enhanced Typesetting"! */
caption.top {
    caption-side: top;
}

caption.bottom {
    caption-side: bottom;
}

/* Kindle specific */
@media only amzn-kf8, amzn-mobi {

}

/* ------------ Image ------------------------------------------------------- */
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

/* ------------ Text -------------------------------------------------------- */
/*
    <em>      - stress emphasis
    <strong>  - strong importance, seriousness, or urgency
    <small>   - side comments such as small print
    <s>       - no longer accurate or no longer relevant
    <cite>    - reference to a creative work
    <q>       - quotation from another source (its address may be specified in cite attribute)
    <dfn>     - term being defined
    <abbr>    - abbreviation or acronym (optionally with its expansion in title attribute)
    <code>    - fragment of computer code
    <sub>     - subscript
    <sup>     - superscript
    <i>       - technical terms, foreign language phrases, thoughts etc.
    <b>       - draw attention
    <u>       - non-textual annotation
    <mark>    - highlight for reference purposes
*/

em, cite, q, i {
    font-style: italic;
}

q {
    quotes: none !important;
    font-style: italic !important;
}

dfn {
    font-style: normal;
    font-weight: bold;
}

strong, b {
    font-weight: bold;
}

small {
    font-size: 0.875em;
}

sub, sup {
    font-size: 0.675em;
    line-height: 1.2;
}

sub {
    vertical-align: sub;
    vertical-align: -20%;
}

sup {
    vertical-align: super;
    vertical-align: 35%;
}

code {
    white-space: pre;
    text-align: left;
    font-family: monospace;
}

/* ------------ Utility classes --------------------------------------------- */
.asterism {
    display: block;
    text-align: center;
    line-height: 1.2;
    margin: 1.75em 0;
    min-height: 0.125em;
    text-indent: 0;
}

.noteref {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super;
    vertical-align: 25%;
    font-style: normal;
    font-weight: normal;
}

.box {
    margin: 1em auto;
    width: auto;
    padding: 8pt 10pt;
    border: 0.125rem solid currentColor;
}

.indent {
    text-indent: 1.125em;
}

.no-indent {
    text-indent: 0;
}

.brb {
    page-break-before: always;
}

.no-brb {
    page-break-before: avoid;
}

.bra {
    page-break-after: always;
}

.no-bra {
    page-break-after: avoid;
}

.mt-0, .m-0 {
    margin-top: 0;
}

.mb-0, .m-0 {
    margin-bottom: 0;
}

.mt-1, .mt, .m-1, .m {
    margin-top: 1em;
}

.mb-1, .mb, .m-1, .m {
    margin-bottom: 1em;
}

.mt-2, .m-2 {
    margin-top: 2em;
}

.mb-2, .m-2 {
    margin-bottom: 2em;
}

.mt-3, .m-3 {
    margin-top: 3em;
}

.mb-3, .m-3 {
    margin-bottom: 3em;
}

.m-s-1, .m-3-4 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.m-s-2, .m-1-2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.m-1-4 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.m-s-3, .m-1-5 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.i {
    font-style: italic;
}

.b {
    font-weight: bold;
}

.center, .c {
    text-align: center;
}

.left, .l {
    text-align: left;
}

.right, .r {
    text-align: right;
}

.justify, .j {
    text-align: justify;
}

.s-9375, .s-15_16 { /* 15/16 */
    font-size: 0.9375em;
}

.s-8750, .s-14_16, .s-1, .small, .s {
    font-size: 0.875em;
}

.s-8125, .s-13_16, .s-2 {
    font-size: 0.8125em;
}

.s-7500, .s-12_16, .s-3 {
    font-size: 0.75em;
}

.large-1, .large {
    font-size: 1.25em;
}

.large-2 {
    font-size: 1.5em;
}

.large-3 {
    font-size: 1.75em;
}

.upper {
    text-transform: uppercase;
}

.underline, .u {
    text-decoration: underline solid;
}

.caps {
    text-transform: capitalize;
}

.small-caps {
    font-variant: small-caps;
}

.reset {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: initial;
    text-decoration: initial;
}

.w-100 { width: 100%; }
.w-90  { width: 90%;  }
.w-80  { width: 80%;  }
.w-70  { width: 70%;  }
.w-60  { width: 60%;  }
.w-50  { width: 50%;  }
.w-40  { width: 40%;  }
.w-30  { width: 30%;  }
.w-25  { width: 25%;  }

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.pad {
    padding-left: 24pt;
}

.pad-5 {
    padding-left: 5%;
}

.pad-8 {
    padding-left: 8%;
}

.pad-10 {
    padding-left: 10%;
}

.pad-15 {
    padding-left: 15%;
}

.pad-20 {
    padding-left: 20%;
}

.pad-25 {
    padding-left: 25%;
}

.pad-30 {
    padding-left: 30%;
}

.pad-35 {
    padding-left: 35%;
}
